/* navbar.module.css */

.navbar {
  background: rgba(0, 0, 0, 0.5); /* 40% opaque white */
  background: rgba(0, 0, 0, 0.5); /* Fallback for browsers that don't support backdrop-filter */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}


.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 16px;
}

.navContent {
  display: flex;
  justify-content: space-between; /* This remains the same */
  align-items: center;
  padding: 16px 0;
  width: 100%; /* Ensure full width */
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto; /* Push everything else to the right */
}

.navLinks {
  display: flex;
  gap: 56px;
  margin: 0 32px; /* Add some spacing between logo and nav links */
  font-size: 6rem; /* Adjust font size as needed */
  letter-spacing: 1.5px; /* Add letter spacing */
}


.socialLinks {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push social links to the right */
}

.navLink {
  display: inline-block;
  color: transparent;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s, text-shadow 0.3s, -webkit-text-stroke 0.3s;
  -webkit-text-stroke: 1px transparent; /* for webkit browsers */
  text-stroke: 1px white; /* standard property (not widely supported yet) */
}

.navLink:hover {
  color: #ffffff;
  -webkit-text-stroke: 0px white; /* remove stroke on hover */
  text-stroke: 0px white;
  transform: scale(1.05);
  text-shadow: 0 0 10px rgba(246, 135, 179, 0.8), 0 0 20px rgba(246, 135, 179, 0.6), 0 0 30px rgba(246, 135, 179, 0.4);
}

.mobileNavLink {
  color: transparent;
  background: none;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, text-shadow 0.3s, -webkit-text-stroke 0.3s;
  display: block;
  width: 100%;
  text-align: left;
  -webkit-text-stroke: 1px black; /* for webkit browsers */
  text-stroke: 1px black; /* standard property (not widely supported yet) */
}

.mobileNavLink:hover {
  color: #ffffff;
  -webkit-text-stroke: 0px black; /* remove stroke on hover */
  text-stroke: 0px black;
  background-color: #4c51bf;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

.menuButton {
  display: none;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.menuButton:hover {
  color: #f687b3;
}

.mobileMenu {
  display: none;
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobileNavLink {
  color: black;
  background: none;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  width: 100%;
  text-align: left;
}

.mobileNavLink:hover {
  background-color: #4c51bf;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }
  .menuButton {
    display: block;
  }
  .mobileMenu {
    display: block;
  }
}