@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: transparent; /* Change background to transparent */
  --foreground: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: transparent; /* Ensure transparency in dark mode as well */
    --foreground: transparent;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Tillana, system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-white {
  --tw-bg-opacity: 0; /* Set opacity to 0 for transparency */
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

/* Add this to your global CSS file, e.g., styles/globals.css */
@keyframes shadowMove {
  0% {
    text-shadow: -20px 0 20px rgba(255, 255, 255, 0.2);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  100% {
    text-shadow: 20px 0 20px rgba(255, 255, 255, 0.2);
  }
}

.shadow-animation {
  display: inline-block;
  animation: shadowMove 3s infinite;
}