@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: transparent;
  --foreground: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: transparent;
    --foreground: transparent;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Tillana, system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }
}

.bg-white {
  --tw-bg-opacity: 0;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

@keyframes shadowMove {
  0% {
    text-shadow: -20px 0 20px rgba(255, 255, 255, 0.2);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  100% {
    text-shadow: 20px 0 20px rgba(255, 255, 255, 0.2);
  }
}

.shadow-animation {
  display: inline-block;
  animation: shadowMove 3s infinite;
}