/* navbar.module.css */
.navbar {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 16px;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navLinks {
  display: flex;
  gap: 56px;
  margin: 0 32px;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
}

.socialLinks {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navLink,
.mobileNavLink {
  display: inline-block;
  color: transparent;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s, text-shadow 0.3s, -webkit-text-stroke 0.3s;
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
}

.navLink:hover,
.mobileNavLink:hover {
  color: #ffffff;
  -webkit-text-stroke: 0px white;
  text-stroke: 0px white;
  transform: scale(1.05);
  text-shadow: 0 0 10px rgba(246, 135, 179, 0.8), 0 0 20px rgba(246, 135, 179, 0.6), 0 0 30px rgba(246, 135, 179, 0.4);
}

.menuButton {
  display: none;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.menuButton:before {
  content: '☰';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}

.menuButton:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(246, 135, 179, 0.5);
}

.menuButtonOpen {
  background: rgba(255, 255, 255, 0.4); /* Adjust this for active state */
}

.mobileMenu {
  display: none;
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }
  
  .menuButton {
    display: block;
  }
  
  .mobileMenu {
    display: block;
  }
  
  .mobileNavLink {
    padding: 16px 12px;
    text-align: center;
    width: 100%;
  }
  
  .socialLinks {
    justify-content: center;
    margin: 16px auto;
    gap: 24px;
  }
}